$primary: hsl(220, 60%, 50%);
$serif: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$mono: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
$sans: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
$header: 'Lato', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

$hairline: #eee;

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

body {
  line-height: 24px;
  padding: 24px;
  color: #222;
  font: normal 16px/24px $serif;
}

.content {
  max-width: 520px;
  margin: 0 auto;

  // So that asides are positioned relative to it.
  position: relative;
}

.content.sidebar {
  padding-right: 280px;
}

// Note: We use explicit line heights here so that the positions of the
// elements don't change after the fonts are loaded asynchronously. That way,
// when we position the asides procedurally, they are in the right place.

h1 {
  color: #000;
  font: bold 36px/44px $header;
  margin-bottom: 24px;
  padding: 0 0 8px 0;
  border-bottom: solid 4px $hairline;
}

h1.book {
  color: #777;
  font: normal 16px/20px $header;
  padding-bottom: 12px;
  border: none;
}

h2 {
  color: $primary;
  font: bold 24px/30px $header;
  margin: 24px 0 12px 0;
}

h3 {
  color: $primary;
  font: bold 18px/24px $header;
  margin: 24px 0 12px 0;
}

h4 {
  color: #777;
  font: 16px/18px $header;
  margin: 24px 0 0 0;
}

p {
  margin: 12px 0;
}

ul, ol {
  padding: 0 0 0 24px;
}

a {
  color: $primary;
  text-decoration: none;
}

img {
  max-width: 100%;
}

blockquote {
  padding: 0 12px;
}

blockquote p {
  font: italic 17px/26px $serif;
  color: #777;
}

code {
  color: #444;
  font: normal 15px $mono;
}

pre {
  color: #444;
  font: normal 13px/16px $mono;
  padding: 0 0 0 12px;
  border-left: solid 4px $hairline;

  // Scroll horizontally if not wide enough.
  overflow: auto;
}

// Asides.

aside {
  padding: 6px 0;
  color: #666;

  border-top: solid 1px $hairline;
  border-bottom: solid 1px $hairline;

  p, li {
    font: 13px/20px $sans;
  }

  >p:first-child {
    margin-top: 0;
  }

  >p:last-child {
    margin-bottom: 0;
  }

  ul, ol {
    padding: 0 0 0 18px;
  }

  code {
    color: #666;
    font: normal 13px $mono;
    white-space: nowrap;
  }

  img {
    padding: 0;
  }
}

aside.sidebar {
  position: absolute;
  width: 240px;
  right: 0;

  padding: 0;
  border-bottom: none;
}

// In-progress banner.
.in-progress {
  position: relative;
  background: hsl(40, 100%, 95%);
  padding: 0 18px;
  font: normal 15px/24px $sans;
  color: hsl(35, 40%, 40%);
  border: solid 4px hsl(38, 80%, 88%);
  margin-bottom: 24px;

  .dismiss {
    position: absolute;
    right: 8px;
    top: 0;
    font: bold 24px $sans;
    padding: 4px;
    cursor: pointer;

    // Hide it by default for users without JavaScript.
    display: none;
  }

  a {
    color: hsl(35, 100%, 40%);
  }

  a:hover {
    color: hsl(30, 100%, 30%);
  }

  .signature {
    text-align: right;
    font: italic 13px $sans;
  }
}

// Notes to myself.
p.note {
  display: none;
  /*
  color: #d00;
  font: normal 12px/20px $mono;
  */
}

// ASCII art diagrams.
pre.diagram {
  background: #efe;
  color: #080;
  font: normal 12px/12px $mono;
}

// Pattern links.
a.pattern,
a.gof-pattern {
}

a:hover {
  border-bottom: solid 1px #acf;
}

a.pattern:after,
a.gof-pattern:after {
  font: 9px $sans;
  color: mix($primary, #fff, 50%);
  vertical-align: super;
}

a.pattern:after {
  content: "\00A0\2192";
}

a.gof-pattern:after {
  content: "\00A0GoF";
}

// Footer.
p.footer {
  text-align: center;
  color: #777;
  font: 14px $sans;
  margin: 24px 0 24px 0;
  padding: 20px 0 0 0;
  border-top: solid 4px $hairline;
}

// Outline.
.outline-note {
  margin-right: 240px;
  background: #fdf;
  padding: 23px 24px 1px 24px;
  margin-bottom: 24px;
}

.outline-note p,
.outline h2,
.outline h3,
.outline a,
a.outline {
  color: #a0a;
}

a.outline {
  font-style: italic;
}

a.outline:before {
  content: "("
}

a.outline:after {
  content: ")"
}

// Syntax highlighting.
.codehilite .k  { color: $primary; } // keyword
.codehilite .kt { color: #09a; }     // keyword type
.codehilite .s  { color: #c70; }     // string
.codehilite .sc { color: #c70; }     // string
.codehilite .c  { color: #999; }     // comment
.codehilite .c1 { color: #999; }     // comment
.codehilite .cm { color: #999; }     // comment
.codehilite .cp { color: #594; }     // preprocessor

// Based on MailChimp Form Embed Code - Slim - 08/17/2011
#mc_embed_signup table {
  border-spacing: 0px;
}

#mc_embed_signup input {
  border: 2px solid hsl(38, 80%, 88%);
  -webkit-appearance:none;
}

#mc_embed_signup input:focus {
  border-color: hsl(38, 100%, 75%);
}

#mc_embed_signup label {
  white-space: nowrap;
}

#mc_embed_signup .button {
  background-color: hsl(40, 90%, 55%);
  border: 0 none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  height: 24px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: 100%;
  padding: 0 16px;
}

#mc_embed_signup .spacer {
  width: 8px;
}

#mc_embed_signup .button:hover {
  background-color: hsl(40, 100%, 45%);
}

#mc_embed_signup .small-meta {font-size: 11px;}

#mc_embed_signup input.email {
  padding: 5px 0;
  text-indent: 5px;
  width: 100%;
}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

@media only screen and (max-width: 479px) {
  h2 {
    font: bold 20px/26px $header;
    margin: 20px 0 5px 0;
  }

  h3 {
    font: bold 16px/20px $header;
    margin: 20px 0 5px 0;
  }

  p {
    margin: 10px 0;
  }

  p, li {
    font: normal 14px/20px $serif;
  }

  blockquote {
    padding: 0 10px;
  }

  blockquote p {
    font: italic 15px/22px $serif;
  }

  code {
    font-size: 14px;
  }

  pre {
    font: normal 12px/14px $mono;
    padding: 0;
    border: none;

    // Scroll horizontally if not wide enough.
    overflow: auto;
  }

  ul, ol {
    padding: 0 0 0 15px;
  }

  .in-progress {
    padding: 4px 12px;
    font: normal 13px/20px $sans;
    margin-bottom: 18px;

    p {
      font: normal 13px/20px $sans;
    }

    .signature {
      font: italic 12px $sans;
    }
  }
}
